H1{
    text-align: center;
}
P{
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25in;
    background: url("images/bond-paper.jpg");
}

body{
    background: url("images/BrickWall_WikimediaCommons_800x533.jpg");
}

.banner{
    background: url("images/stacked-wooden-boards-vector-5139500.jpg");
    font-size: 50pt;
    font-family: Arial Rounded MT Bold;
}